<!--footer-->
<footer class="bd-footer  bg-light" style="width: 100%; height: 150px;">
    <div class="container ">
        <div class="row">
            <div class="col-lg-3 mb-3" style="padding-top:50px">
                <a class="d-inline-flex align-items-center mb-2 link-dark text-decoration-none" href="/"
                    aria-label="Bootstrap">
                   
                    <span class="fs-5">OZZIC 오직</span>
                </a>
                <ul class="list-unstyled small text-muted">
                    <li class="mb-2">안녕하세요, 오직입니다.</li>
                </ul>
            </div>
          
        </div>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
 integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
 crossorigin="anonymous"></script>