<link rel="stylesheet" href="../static/css/navbar.css">
<!--여기에 부트스트랩 코드 금지-->
<script src="../static/js/navbar.js"></script>
<script>
    jQuery(function ($) {
        $(window).on('scroll', function () {
            if ($(this).scrollTop() >= 200) {
                $('.navbar').addClass('fixed-top');
            } else if ($(this).scrollTop() == 0) {
                $('.navbar').removeClass('fixed-top');
            }
        });

        function adjustNav() {
            var winWidth = $(window).width(),
                dropdown = $('.dropdown'),
                dropdownMenu = $('.dropdown-menu');

            if (winWidth >= 768) {
                dropdown.on('mouseenter', function () {
                    $(this).addClass('show')
                        .children(dropdownMenu).addClass('show');
                });

                dropdown.on('mouseleave', function () {
                    $(this).removeClass('show')
                        .children(dropdownMenu).removeClass('show');
                });
            } else {
                dropdown.off('mouseenter mouseleave');
            }
        }

        $(window).on('resize', adjustNav);

        adjustNav();
    });

</script>
<header class="header-area overlay">
    <nav class="navbar navbar-expand-md navbar-dark">
        <div class="container">
            <!-- <a href="#" class="navbar-brand">Bootdey.com</a> -->
            <a href="/"> <img class="main-logo" src="../static/img/omanjob-logo.png" alt="">
            </a>
            &nbsp; &nbsp; &nbsp; 
            <div id="main-nav" class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li><a href="play" class="nav-item nav-link active">콘텐츠</a></li>
                    <li><a href="#" class="nav-item nav-link">About Us</a></li>
                    <li class="dropdown">
                        <a href="#" class="nav-item nav-link" data-toggle="dropdown">Services</a>
                        <div class="dropdown-menu">
                            <a href="#" class="dropdown-item">Dropdown Item 1</a>
                            <a href="#" class="dropdown-item">Dropdown Item 2</a>
                            <a href="#" class="dropdown-item">Dropdown Item 3</a>
                        </div>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="nav-item nav-link" data-toggle="dropdown">Portfolio</a>
                        <div class="dropdown-menu">
                            <a href="#" class="dropdown-item">Dropdown Item 1</a>
                            <a href="#" class="dropdown-item">Dropdown Item 2</a>
                            <a href="#" class="dropdown-item">Dropdown Item 3</a>
                            <a href="#" class="dropdown-item">Dropdown Item 4</a>
                            <a href="#" class="dropdown-item">Dropdown Item 5</a>
                        </div>
                    </li>
                    <li><a href="#" class="nav-item nav-link">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>