<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>후기 작성 페이지</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/main.css">
</head>

<body>


    {% include 'navbar.html' %}
    <div id="review-form" style=" text-align: center; ">
        <h2>후기 작성란</h2>
        <input type="text" style="width: 80%;height: 300px;">
        <br>
        <br>
        <div style="align-items:flex-end;">
        </div>
    </div>
    
    {% include 'footer.html' %}
</body>

</html>